swagger: '2.0'
info:
  version: @version@
  title: Recordserver
  description: TODO
host: recordserver.trafalgar.ws:8080
basePath: /v2
schemes:
- http
produces:
- application/json
paths:
  /organizations:
    post:
      consumes:
      - application/json
      description: Creates organization where invoking user is owner
      operationId: createOrganization
      parameters:
      - name: correlationId
        in: header
        required: false
        type: string
        description: Request unique id.
      - name: organization
        in: body
        required: true
        description: Organization name
        schema:
          $ref: '#/definitions/PostOrganizationRequest'
      responses:
        200:
          description: TODO
          schema:
            $ref: '#/definitions/PostOrganizationResponse'
    get:
      description: TODO
      operationId: getOrganizations
      parameters:
      - name: correlationId
        in: header
        required: false
        type: string
        description: Request unique id.
      responses:
        200:
          description: TODO
          schema:
            $ref: '#/definitions/ListOrganizationsResponse'
definitions:
  ListOrganizationsResponse:
    type: array
    items:
      $ref: '#/definitions/PostOrganizationResponse'

  PostOrganizationRequest:
    type: object
    properties:
      name:
        type: string
        required: true
  PostOrganizationResponse:
    type: object
    properties:
      name:
        type: string
      id:
        type: string
